@import './variables.scss';
@import './mixins.scss';

.section {
    margin-bottom: 5%;

    hr {
        border-color: $text-color;
        border-style: dashed;
        border-width: 2.5px;
    }

    h2 {
        font-size: 3rem;
        text-align: center;
    }
}

#top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    p {
        width: 60%;
        opacity: 0;
    }

    img {
        width: 25%;
    }
}

#sports, #videoGames {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    img {
        width: 15%;
    }

    p {
        width: 50%;
        text-align: justify;
    }
}

#movies {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    
        p {
            width: 60%;
        }
    
        img {
            width: 20%;
        }
    }
}

#matrix {
    margin-bottom: 5%;
}

.slideInFromLeftClass {
    opacity: 1 !important;
    @include animate(slide-in-from-left, 2.5s, linear, 1);
}

@include keyframes(slide-in-from-left) {
    0% {
        opacity: 0;
        transform: translateX(-25rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

.slideInFromRightClass {
    opacity: 1 !important;
    @include animate(slide-in-from-right, 2.5s, linear, 1);
}

@include keyframes(slide-in-from-right) {
    0% {
        opacity: 0;
        transform: translateX(25rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

.fadeInClass {
    opacity: 1 !important;
    @include animate(fade-in, 3s, linear, 1);
}

@include keyframes(fade-in) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
}