@import './variables.scss';

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: $nav-color;
    position: absolute;
    height: 5rem;
    bottom: 0;
    width: 100%;
    font-size: 2rem;
}

#copyright {
    p {
        margin: 0;
    }
}

#logoArea {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        display: flex;
    }
}

.logo {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}