@import './variables.scss';

#footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $nav-color;
    position: absolute;
    height: 5rem;
    bottom: 0;
    width: 100%;
    font-size: 2rem;
}