@import './variables.scss';

#footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $nav-color;
    height: 10%;
    padding: 1%;
    position: absolute;
    bottom: 0;
    width: 100%;
}