@import './variables.scss';

#landing {
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#landingTop {
    font-size: 2rem;
    display: flex;
}

#landingBottom {
    font-size: 1.75rem;
    text-align: center;
    opacity: 0;
}