@import './variables.scss';

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: $nav-color;
    overflow: hidden;
}

#name {
    width: 40%;
}

.navLink {
    color: $text-color;
    text-decoration: none;
    font-size: 2rem;
}

.navLink:hover {
    color: $text-red;
}

#links {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
}